{% extends "base.html" %}{% load pulse_extras %}

{% block title %}{{ block.super }} | BlipSet{% endblock %}

{% block main-container %}
  <section id="blip-detail">
    <div class="page-header">
      <h1>{{ blipset }}</h1>
        {% if blipset.tags.exists %}
          <i class="icon-tags"></i>
          {% for tag in blipset.tags.all %}
            <span class="label"><a href="{% url blipset_tags tag.slug %}">{{ tag }}</a></span>
          {% endfor %}
        {% endif %}
    </div>

    <div class="row">
      <div class="span12">
        {% for blip in blipset.blips.all %}
          {% get_daily_timestamp blip.timestamp as timestamp %}
          {% if timestamp %}
            <h2>{{ timestamp|date:"l, M d Y" }}</h2>
          {% endif %}

          {% include "pulse/includes/blip.txt" %}
        {% endfor %}
      </div>
    </div> <!-- row -->
  </section>
{% endblock %}