{% extends "base.html" %}{% load pulse_extras %}

{% block page-title %}{{ blipset }}{% endblock %}
{% block page-content %}
    {% for blip in blipset.blips.all %}
        {% get_daily_timestamp blip.timestamp as timestamp %}
        {% if timestamp %}
            <h3>{{ timestamp|date:"l, M d Y" }}</h3>
        {% endif %}

        {% include "pulse/includes/blip.txt" %}
    {% endfor %}
{% endblock %}

{% block side-title %}Metadata{% endblock %}
{% block side-content %}
    <h4>Tags</h4>
    <ul>
        {% for tag in blipset.tags.all %}
        <li>
            <a href="{% url blipset_tags tag.slug %}">{{ tag }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}