{% extends "base.html" %}{% load taggit_extras %}

{% block page-title %}BlipSets{% endblock %}

{% block page-content %}
  <div class="clearfix">
    {% for blipset in object_list %}
        <p>
          <a href="{{ blipset.get_absolute_url }}">{{ blipset }}</a><br />
            <em>{{ blipset.timestamp }}</em><br />
            {% if blipset.tags.exists %}
              {% for tag in blipset.tags.all %}
                <span class="label"><a href="{% url blipset_tags tag.slug %}">{{ tag }}</a></span>
              {% endfor %}
          {% endif %}
        </p>
    {% endfor %}
  </div>
{% endblock %}

{% block side-content %}
  <h3>Tags</h3>
  <div class="clearfix">
  {% get_tagcloud as tags for 'pulse.BlipSet' %}
  <p>
      {% for tag in tags %}
        <span style="font-size:{{ tag.weight|floatformat:0 }}px;"> <a href="{% url blipset_tags tag.slug %}">{{ tag }}</a></span>
      {% endfor %}
  </p>
  </div>
{% endblock %}
