{% extends "base.html" %}

{% block page-title %}Timeline{% endblock %}
{% block page-content %}
    {% for blipset in filter %}
        <p>
          <strong>{{ blipset.timestamp }}</strong><br />
          <a href="{{ blipset.get_absolute_url }}">{{ blipset }}</a>
        </p>
    {% endfor %}

{% endblock %}
        
{% block side-title %}Filter{% endblock %}
{% block side-content %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
{% endblock %}