{% extends "pulse/blipset_list.html" %}

{% block page-title %}Timeline{% endblock %}
{% block page-content %}
    {% with filter as object_list %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block side-title %}Filter Timeline{% endblock %}
{% block side-content %}
   <div class="clearfix">
     <form action="" method="get" class="form-stacked">
         {{ filter.form }}
         {{ tag_filter_form }}
         <input type="submit" class="primary btn small"/>
         <input type="reset" class="default btn small"/>
     </form>
   </div>

  {{ block.super }}

{% endblock %}