{% extends "pulse/blipset_list.html" %}

{% block title %} {{ block.super }} | Timeline {% endblock %}

{% block main-container %}
    {% with filter as object_list %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block page-title %}Timeline{% endblock %}

{% block side-content %}
    <h3>Filter Timeline</h3>
     <form action="" method="get" class="form-stacked">
         {{ filter.form }}
         {{ tag_filter_form }}
         <div class="well" style="padding: 5px 5px;">
             <input type="submit" class="btn btn-primary btn-small"/>&nbsp;
             <input type="reset" class="btn btn-default btn-small"/>
         </div>
     </form>
  {{ block.super }}

{% endblock %}