# put machine-specific settings in here, e.g. passwords, database credentials, etc.

DATABASES = {
    'default': {
        'ENGINE': '',
        'NAME': '',
    }
}

SECRET_KEY = '#$0le+_(6kct+%bpts47i$-0btok12stot%pn0+wqki9vr2aao'