<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}ExoScope - Keeping the pulse of the company{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!-- Note that these are all rel="stylesheet/less" so the styles get applied in the right order -->
    <link href="{{ STATIC_URL }}bootstrap/less/bootstrap.less" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}bootstrap/less/responsive.less" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}bootstrap/docs/assets/css/docs.css" rel="stylesheet/less">
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet/less">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url home %}">ExoScope</a>
          <div class="nav-collapse">
              <ul class="nav">
                <li><a href="{% url timeline %}">Timeline</a></li>
                <li><a href="{% url admin:index %}">Admin</a></li>
              </ul>
          </div>
          <!--<form action="" class="pull-right">-->
            <!--<input class="input-small" type="text" placeholder="Username">-->
            <!--<input class="input-small" type="password" placeholder="Password">-->
            <!--<button class="btn" type="submit">Sign in</button>-->
          <!--</form>-->
        </div>
      </div>
    </div>

    <div class="container">
      {% block main-container %}
      {% endblock %}

      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; ExoAnalytic Solutions, Inc. 2011</p>
      </footer>

    </div> <!-- /container -->

  <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/less-1.2.1.min.js"></script>

  </body>
</html>
