
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ExoScope - Keeping the pulse of the company</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}bootstrap/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/project.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">ExoScope</a>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/pulse">Pulse</a></li>
            <li><a href="/admin">Admin</a></li>

          </ul>
          <!--<form action="" class="pull-right">-->
            <!--<input class="input-small" type="text" placeholder="Username">-->
            <!--<input class="input-small" type="password" placeholder="Password">-->
            <!--<button class="btn" type="submit">Sign in</button>-->
          <!--</form>-->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>ExoScope <small>Keeping the pulse of the company</small></h1>
        </div>
        <div class="row">
          <div class="span10">
            <h2>Timeline</h2>
          </div>
          <div class="span4">
            <h3>Tags</h3>
            <ul>
                <li>Tag 1</li>
                <li>Tag 2</li>
                <li>Tag 3</li>
            </ul>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; ExoAnalytic Solutions, Inc. 2011</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
